<%= form_for @page, html: { multipart: true } do |f| %>
  <% if @page.errors.any? %>
  <div class="errors">
    <p><%= pluralize(@page.errors.count, 'error') %>:</p>
    <ul>
      <% @page.errors.full_messages.each do |error| %>
        <li class="error"><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <% if @page.header %>
    <p><%= @page.header_file_name %></p>
  <% end %>

  <%= f.label :header %>
  <%= f.file_field :header %>

  <%= f.label :published  %>
  <%= f.check_box :published %>

  <%= f.submit 'save', class: 'btn primary' %>
<% end %>
