<%= form_for @page, html: { multipart: true } do |f| %>
  <div class="card-container">
    <%= image_tag @page.header, class: 'page-header' %>

    <%= f.text_field :name, class: 'page-name', autofocus: true %>
    <%= f.text_field :title %>
    <%= f.text_area :body %>
    <%= f.file_field :header %>

    <%# f.label :published  %>
    <%# f.check_box :published %>
  </div>

  <div class="card-admin">
    <%= f.submit 'save', class: 'btn plain' %>
  </div>
<% end %>
