<%= div_for page, class: 'card' do %>
  <div class="card-container">
    <%= image_tag page.header, class: 'page-header' %>
    <%= content_tag :h2, page.name %>
    <%= content_tag :p, page.title, class: 'section-header' %>
    <%= content_tag :p, page.body %>
  </div>

  <div class="card-admin">
    <% if action_name == 'index' || action_name == 'create' %>
      <%= link_to 'view', page_path(page), class: 'link' %>
    <% elsif action_name == 'show' %>
      <%= link_to 'edit', edit_page_path(page), remote: true, class: 'link plain' %>
    <% end %>

    <%= link_to 'delete', page_path(page), method: :delete, remote: true, class: 'link delete' %>
  </div>
<% end %>
