<h1>all pages</h1>

<%= link_to 'create page', new_page_path, class: 'button large' %>

<% @pages.each do |page| %>
<div class="page">
  <div class="page-content">
    <h2><%= page.title %><span class="page-state"> (<%= page.published? ? 'published' : 'unpublished' %>)</span></h2>
    <p><%= page.body %></p>

    <p class="page-admin">
      <%= link_to "view", page_path(page) %> |
      <%= link_to "edit", edit_page_path(page) %> |
      <%= link_to 'delete', page_path(page), method: :delete %>
      <% if page.id == 1 %>
        | <%= link_to 'preview', '/cloud-computing/us/en/solutions-gaming.html', target: '_blank' %>
      <% end %>
    </p>
  </div>
</div>
<% end %>
