<h1>all pages</h1>

<%= link_to 'create page', new_page_path %>

<% @pages.each do |page| %>
<div class="page">
  <div class="page-header">
    <%= image_tag page.header %>
  </div>
  <div class="page-content">
    <h1><%= page.title %><span class="page-state"><%= page.published? ? 'published' : 'unpublished' %></span></h1>
    <p><%= page.body %></p>

    <p class="page-admin">
      <%= link_to "view", page_path(page) %> |
      <%= link_to "edit", edit_page_path(page) %> |
      <%= link_to 'delete', page_path(page), method: :delete %>
    </p>
  </div>
</div>
<% end %>
