<h1>pages#new</h1>

<%= form_for @page do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label :header %>
  <%= f.text_field :header %>

  <%= f.submit 'create' %>
<% end %>
