<div class="solution" style="background-image: url('<%= @page.header %>');">
  <h2 class="solution-header"><%= @page.title %></h2>

  <p class="solution-subheader"><%= @page.body %></p>
</div>

<section class="scenarios">
  
  <% @page.scenarios.each do |scenario| %>
  <article class="scenario">
    <%= image_tag scenario.avatar, class: 'scenario-avatar' %>
    <h2 class="scenario-header">"<%= scenario.quote %>"</h2>
    <h3 class="scenario-subheader"><%= scenario.pitch %></h3>

    <% scenario.products.each do |product| %>
      <a href="#">
        <%= image_tag product.icon_url, class: 'product-icon' %>
        <strong><%= product.name %></strong>
      </a>

      <p class="product-description"><%= product.description %></p>
    <% end %>
  </article>

  <% end %>

</section>

<section class="resources">
  <h3 class="section-header">Featured resources</h3>

  <% @page.resources.each do |resource| %>
  <div class="resource">
    <p><a href="<%= resource.url %>"><%= resource.body %></a></p>
  </div>
  <% end %>

</section>
