<% content_for :sub_header do %>
  <%= content_tag :h1, @page.name %>
<% end %>

<section class="solutions collection">
  <%= render 'pages/page'  %>
</section>

<section class="scenarios collection">
  <%= render 'scenarios/scenarios' %>
</section>

<section class="resources collection">
  <%= render 'resources/resources' %>
</section>

<%= render 'scenarios/form' %>
<%= render 'resources/form' %>
