<% content_for :sub_header do %>
  <%= content_tag :h1, @page.name %>
<% end %>

<section class="solutions collection">
  <header class="collection-header">
    <%= link_to 'preview', preview_page_path(@page), target: '_blank', class: 'btn secondary' %>
  </header>

  <section class="solution card">
    <%= render 'index', object: @page %>
  </section>
</section>

<section class="scenarios collection">
  <%= render 'scenarios/scenarios' %>
</section>

<section class="resources collection">
  <%= render 'resources/resources' %>
</section>

<%= render 'scenarios/form' %>
<%= render 'resources/form' %>
