<%# image_tag @page.header %>

<% if gaming_scenario? %>
  <%= render 'tmp_ibm_top' %>
<% end %>

<h2 class="section-header">
  <%= @page.title %>
</h2>

<% if gaming_scenario? %>
  <%= render 'tmp_ibm_mid' %>
<% end %>

<p>
  <%= @page.body %>
</p>

<% if gaming_scenario? %>
  <%= render 'tmp_ibm_bot' %>
<% end %>

<% if admin_view? %>
<div class="admin">
  <%= link_to 'back', pages_path %> |
  <%= link_to 'edit solution', edit_page_path(@page) %>
</div>
<% end %>

<% @page.scenarios.each do |scenario| %>
  <h1><%= scenario.quote %></h1>
  <p><%= scenario.pitch %></p>
  <p><strong>id:&nbsp;</strong><%= scenario.id %></p>
<% end %>

<% if admin_view? %>
<div class="admin">
   <%= form_for([@page, @page.scenarios.build]) do |f| %>
     <%= f.label :quote %>
     <%= f.text_field :quote %>

     <%= f.label :pitch %>
     <%= f.text_field :pitch %>

     <%= f.submit 'add scenario' %>
   <% end %>
</div>
<% end %>
