<%= image_tag @page.header, class: 'page-header' %>

<% if gaming_scenario? %>
  <%= render 'tmp_ibm_top' %>
<% end %>

<h2 class="section-header">
  <%= @page.title %>
</h2>

<% if gaming_scenario? %>
  <%= render 'tmp_ibm_mid' %>
<% end %>

<p>
  <%= @page.body %>
</p>

<% if gaming_scenario? %>
  <%= render 'tmp_ibm_bot' %>
<% end %>

<% if admin_view? %>
<div class="admin">
  <%= link_to 'back', pages_path %> |
  <%= link_to 'edit solution', edit_page_path(@page) %>
</div>
<% end %>

<% @page.scenarios.each do |scenario| %>
  <h1><%= scenario.quote %></h1>
  <p><%= scenario.pitch %></p>
  <%= image_tag scenario.avatar, class: 'scenario-avatar' %>

  <%= link_to 'edit scenario', edit_scenario_path(scenario.id) %> |
  <%= link_to 'delete scenario', scenario_path(scenario.id), method: :delete %>
<% end %>

<% if admin_view? %>
<div class="admin">
   <%= form_for([@page, @page.scenarios.build]) do |f| %>
     <%= f.label :quote %>
     <%= f.text_field :quote %>

     <%= f.label :pitch %>
     <%= f.text_field :pitch %>

     <%= f.submit 'add scenario' %>
   <% end %>
</div>
<% end %>
