<% content_for :sub_header do %>
  <%= content_tag :h1, @page.name %>
<% end %>

<section class="solutions collection">
  <%= render 'index', object: @page %>
</section>

<section class="scenarios collection">
  <section class="scenario new" style="display: none"></section>

  <header class="collection-header">
    <%= content_tag :h2, 'Scenarios', class: 'collection-type' %>
    <%= link_to 'new scenario', new_page_scenario_path(@page), remote: true, class: 'btn secondary', id: 'new-scenario' %>
  </header>

  <% if @page.scenarios.order(id: :desc).each do |scenario| %>
    <%= render 'scenarios/index', object: scenario %>
  <% end.empty? %>
    <%= render 'scenarios/empty' %>
  <% end %>

  <%= render 'scenarios/products_modal' %>
</section>

<section class="resources collection">
  <%= render 'resources/resources' %>
</section>
