<% content_for :sub_header do %>
  <%= content_tag :h1, @page.name %>
<% end %>

<section class="solutions collection">
  <%= render 'index', object: @page %>
</section>

<section class="scenarios collection">
  <header class="collection-header">
    <%= content_tag :h2, 'Scenarios', class: 'collection-type' %>
    <%= link_to 'new scenario', '#', class: 'btn secondary show-new-scenario', id: 'show_new_scenario' %>
  </header>

  <% if @page.scenarios.each do |scenario| %>
    <%= render 'scenarios/index', object: scenario %>
  <% end.empty? %>
    <%= render 'scenarios/empty' %>
  <% end %>
</section>

<section class="resources collection">
  <%= render 'resources/resources' %>
</section>

<%= render 'scenarios/form' %>
<%= render 'resources/form' %>
