<% content_for :sub_header do %>
  <%= content_tag :h1, @page.name %>
<% end %>

<section class="solutions collection">
  <%= render 'index', object: @page %>
</section>

<section class="scenarios collection">
  <%= render 'shared/collection_header', object: 'scenario', parent_object: @page %>
  <%= render(@page.scenarios) || render('shared/empty', object: 'scenarios') %>
</section>

<div class="resources collection">
  <%= render 'shared/collection_header', object: 'resource', parent_object: @page %>
  <%= render(@page.resources) || render('shared/empty', object: 'resources') %>
</div>
