<% content_for :sub_header do %>
  <h1>Solutions Page</h1>
  <%= link_to 'back', :back, class: 'btn small' %>
<% end %>

<%= link_to 'preview', preview_page_path(@page), target: '_blank', class: 'btn secondary' %>

<section class="solution card">
  <div class="card-container">
    <%= image_tag @page.header, class: 'page-header' %>
    <%= content_tag :h2, @page.title, class: 'section-header' %>
    <%= content_tag :p, @page.body %>
  </div>

  <div class="card-admin">
    <%= link_to 'edit', edit_page_path(@page) %>
  </div>
</section>

<section class="all scenarios">
  <%= render 'scenarios/scenarios' %>
</section>

<section class="all resources">
  <%= render 'resources/resources' %>
</section>

<%= form_for([@page, @page.scenarios.build]) do |f| %>
  <%= f.label :quote %>
  <%= f.text_field :quote %>

  <%= f.label :pitch %>
  <%= f.text_field :pitch %>
<% end %>

<%= form_for([@page, @page.resources.build]) do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.label :url %>
  <%= f.text_field :url %>
<% end %>
