<section class="solution">
  <%= image_tag @page.header, class: 'page-header' %>

  <% if preview %>
    <%= render 'tmp_ibm_top' %>
  <% end %>

  <h2 class="section-header">
    <%= @page.title %>
  </h2>
p
  <% if preview %>
    <%= render 'tmp_ibm_mid' %>
  <% end %>

  <p>
    <%= @page.body %>
  </p>

  <% if admin %>
  <div class="admin">
    <%= link_to 'back', pages_path %> |
    <%= link_to 'edit solution', edit_page_path(@page) %>
  </div>
  <% end %>
</section>

<% if preview %>
  <%= render 'tmp_ibm_bot' %>
<% end %>

<% if admin %>
<% @page.scenarios.each do |scenario| %>
  <section class="scenario">
    <h3><%= scenario.quote %></h3>
    <p><%= scenario.pitch %></p>
    <%= image_tag scenario.avatar, class: 'scenario-avatar' %>

    <%= link_to 'edit scenario', edit_scenario_path(scenario.id) %> |
    <%= link_to 'delete scenario', scenario_path(scenario.id), method: :delete %>
  </section>
<% end %>

<% @page.resources.each do |resource| %>

  <section class="resource">
    <h4><%= resource.body %></h4>

    <%= link_to 'edit resource', edit_resource_path(resource.id) %> |
    <%= link_to 'delete resource', resource_path(resource.id), method: :delete %>
  </section>
<% end %>
<% end %>

<% if admin %>
<div class="admin">
   <%= form_for([@page, @page.scenarios.build]) do |f| %>
     <%= f.label :quote %>
     <%= f.text_field :quote %>

     <%= f.label :pitch %>
     <%= f.text_field :pitch %>

     <%= f.submit 'add scenario' %>
   <% end %>

   <%= form_for([@page, @page.resources.build]) do |f| %>
     <%= f.label :body %>
     <%= f.text_field :body %>

     <%= f.label :url %>
     <%= f.text_field :url %>

     <%= f.submit 'add resource' %>
   <% end %>
</div>
<% end %>
