<% if admin %>
  <section class="admin_bar">
    <h1>Solution</h1>
    <%= link_to 'back', pages_path, class: 'btn small' %>
  </section>
<% end %>

<section class="solution">
  <%= image_tag @page.header, class: 'page-header' %>

  <% if preview %>
    <%= render 'tmp_ibm_top' %>
  <% end %>

  <h2 class="section-header">
    <%= @page.title %>
  </h2>

  <% if preview %>
    <%= render 'tmp_ibm_mid' %>
  <% end %>

  <p>
    <%= @page.body %>
  </p>

  <% if admin %>
  <div class="admin">
    <%= link_to 'edit', edit_page_path(@page), class: 'btn small' %>
  </div>
  <% end %>
</section>

<% if preview %>
  <%= render 'tmp_ibm_bot' %>
<% end %>

<% if admin %>
  <section class="admin_bar">
    <h1>Scenarios</h1>
    <%= link_to 'add scenario', new_page_scenario_path(@page), class: 'btn primary' %>
  </section>

  <section class="scenarios">
  <% if @page.scenarios.each do |scenario| %>
    <section class="scenario">
      <%= image_tag scenario.avatar, class: 'scenario-avatar icon' %>

      <h3><%= scenario.quote %></h3>
      <p><%= scenario.pitch %></p>

      <%= link_to 'view', scenario_path(scenario.id), class: 'btn small' %>
      <%= link_to 'edit', edit_scenario_path(scenario.id), class: 'btn small' %>
      <%= link_to 'delete', scenario_path(scenario.id), method: :delete, class: 'btn small' %>
    </section>
  <% end.empty? %>
    <section class="empty">
      <p>no saved scenarios&#133;</p>
    </section>
  <% end %>
  </section>

  <section class="admin_bar">
    <h1>Resources</h1>
    <%= link_to 'add resource', new_page_scenario_path(@page), class: 'btn primary' %>
  </section>

  <section class="resources">
  <% if @page.resources.each do |resource| %>
  <section class="resource">
    <p><%= resource.body %></p>

    <%= link_to 'edit', edit_resource_path(resource.id), class: 'btn small' %>
    <%= link_to 'delete', resource_path(resource.id), method: :delete, class: 'btn small' %>
  </section>
  <% end.empty? %>
    <section class="empty">
      <p>no saved resources&#133;</p>
    </section>
  <% end %>
  </section>
<% end %>

<div class="admin">
   <%= form_for([@page, @page.scenarios.build]) do |f| %>
     <%= f.label :quote %>
     <%= f.text_field :quote %>

     <%= f.label :pitch %>
     <%= f.text_field :pitch %>

     <%= f.submit 'add scenario', class: 'btn primary' %>
   <% end %>

   <%= form_for([@page, @page.resources.build]) do |f| %>
     <%= f.label :body %>
     <%= f.text_field :body %>

     <%= f.label :url %>
     <%= f.text_field :url %>

     <%= f.submit 'add resource', class: 'btn primary' %>
   <% end %>
</div>
