<% content_for :sub_header do %>
  <h1>Solutions Page</h1>
<% end %>

<%= link_to 'preview', preview_page_path(@page), target: '_blank', class: 'btn secondary' %>

<section class="solutions">
  <%= render 'pages/page'  %>
</section>

<section class="all scenarios">
  <%= render 'scenarios/scenarios' %>
</section>

<section class="all resources">
  <%= render 'resources/resources' %>
</section>

<%= form_for([@page, @page.scenarios.build]) do |f| %>
  <%= f.label :quote %>
  <%= f.text_field :quote %>

  <%= f.label :pitch %>
  <%= f.text_field :pitch %>

  <%# f.submit 'save', id: 'create_scenario' %>
<% end %>

<%= form_for([@page, @page.resources.build]) do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%# f.submit 'save', class: 'btn secondary', id: 'create_resource' %>
<% end %>
