<% content_for :sub_header do %>
  <%= content_tag :h1, 'Sign in' %>
<% end %>

<section class="authentication card">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'card_container' } ) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>

    <%= f.submit "Sign in", class: 'btn primary'  %>
  <% end %>

  <div class="card_admin">
    <%= render "devise/shared/links" %>
  </div>
</section>
