<%= form_for object, remote: true do |f| %>
  <div class="<%= container_class %>">
    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <% if new? %>
    <%= f.submit 'save', class: 'btn primary', id: 'save_resource' %>
  <% elsif edit? %>
    <div class="card_admin">
      <%= f.submit 'save', class: 'link primary', id: 'save_resource' %>
    </div>
  <% end %>
<% end %>
