<%= form_for object, remote: true do |f| %>
  <div class="<%= container_class %>">
    <%= f.text_field :body %>

    <%= f.text_field :url %>
  </div>

  <% if new? %>
    <%= f.submit 'save', class: 'btn primary', id: 'save-resource' %>
  <% elsif edit? %>
    <div class="card-admin">
      <%= f.submit 'save', class: 'link primary', id: 'save-resource' %>
    </div>
  <% end %>
<% end %>
