<div class="card_container">
  <%= content_tag :p, object.body %>

  <%= content_tag :small do %>
    <%= link_to object.url %>
  <% end %>
</div>

<div class="card_admin">
  <%= link_to 'edit', edit_resource_path(object), remote: true, class: 'link plain' %>
  <%= link_to 'delete', resource_path(object), method: :delete, remote: true, class: 'link plain delete_resource' %>
</div>
