<% content_for :sub_header do %>
  <h1 class="edit">
    <span class="action">Edit</span> Resource
  </h1>
<% end %>

<section class="scenario card">
  <div class="card-container">
    <%= form_for @resource do |f| %>
      <% if @resource.errors.any? %>
      <div class="errors">
        <p><%= pluralize(@resource.errors.count, 'error') %>:</p>
        <ul>
          <% @resource.errors.full_messages.each do |error| %>
            <li class="error"><%= error %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= f.label :body %>
      <%= f.text_field :body, autofocus: true %>

      <%= f.label :url %>
      <%= f.text_area :url %>

      <%= f.submit 'save', class: 'btn primary' %>
    <% end %>
  </div>
</section>
