<div class="modal" data-modal-name="<%= object.name.parameterize %>">
  <div class="modal-content">
    <%= button_tag '✗', class: 'link plain js-modal-toggle' %>
    <ul class="errors"></ul>

    <%= form_tag products_search_path, remote: true, class: 'product-search' do %>
      <%= hidden_field_tag :scenario_name, object.name.parameterize %>
      <%= button_tag 'reset', class: 'btn secondary product-reset' %>
      <%= submit_tag 'search', class: 'btn primary product-submit' %>

      <div class="product-search-wrapper">
        <%= text_field_tag :product, nil, class: 'product-query' %>
      </div>
    <% end %>

    <section id="results" class="results"></section>
  </div>
</div>

<div class="modal-overlay"></div>
