<div class="modal" data-modal-name="<%= object.name.parameterize %>">
  <div class="modal-content">
    <header class="modal-header">
      <%= content_tag :h4, "Add Products to the #{object.name}" %>
    </header>

    <%= button_tag '✗', class: 'link plain js-modal-toggle' %>
    <ul class="errors"></ul>

    <%= form_tag products_search_path, remote: true, class: 'product-search' do %>
      <%= hidden_field_tag :scenario_name, object.name.parameterize %>
      <%= submit_tag 'search', class: 'btn primary product-submit' %>

      <div class="product-search-wrapper">
        <%= text_field_tag :product, nil, class: 'product-query' %>
      </div>
    <% end %>

    <div class="product-count-wrapper">
      <p>There are <span class="product-count"></span> results that matched your search.</p>
      <button class="link primary product-reset">reset</button>
    </div>

    <section id="results" class="results"></section>
  </div>
</div>

<div class="modal-overlay"></div>
