<div class="modal" data-name="<%= object.name.parameterize %>">
  <div class="modal-content">
    <header class="modal-header">
      <%= content_tag :h4, "Add Products to the #{object.name}" %>
    </header>

    <%= button_tag '✗', class: 'link plain js-modal-toggle', data: { 'name' => object.name.parameterize }  %>
    <ul class="errors"></ul>

    <%= form_tag products_search_path, remote: true, class: 'product-search' do %>
      <%= hidden_field_tag :scenario_name, object.name.parameterize %>
      <%= submit_tag 'search', class: 'btn primary product-submit' %>

      <div class="product-search-wrapper">
        <%= text_field_tag :product, nil, class: 'product-query', placeholder: 'IBM Product Name' %>
      </div>
    <% end %>

    <section class="results-wrapper closed">
      <div class="product-count-wrapper">
        <p>There are <span class="product-count"></span> results that matched your search.</p>
        <button class="link primary product-reset">reset</button>
      </div>

      <div class="results"></div>
    </section>
  </div>
</div>

<div class="modal-overlay"></div>
