<% if @page.scenarios.each do |scenario| %>
  <section class="scenario">
    <%= image_tag scenario.avatar, class: 'scenario-avatar icon' %>

    <h3><%= scenario.quote %></h3>
    <p><%= scenario.pitch %></p>

    <section class="products">
      <% if scenario.products.each do |product| %>
        <div class="product">
          <%= image_tag product.icon_url %>
          <p><%= product.name %></p>
        </div>
      <% end.empty? %>
        <%# TODO - Move these into a partial and pass local values! %>
        <div class="empty">
          <p>This scenario has no products! Click <a href="<%= scenario_path(scenario) %>">view</a> to add some.</p>
        </div>
      <% end %>
    </section>

    <%= link_to 'view', scenario_path(scenario.id), class: 'btn small' %>
    <%= link_to 'edit', edit_scenario_path(scenario.id), class: 'btn small' %>
    <%= link_to 'delete', scenario_path(scenario.id), method: :delete, remote: true, class: 'btn small delete-scenario' %>
  </section>
<% end.empty? %>
  <section class="empty">
    <p>no saved scenarios&#133;</p>
  </section>
<% end %>
