<% if @page.scenarios.each do |scenario| %>
  <section class="scenario">
    <%= image_tag scenario.avatar, class: 'scenario-avatar icon' %>

    <h3><%= scenario.quote %></h3>
    <p><%= scenario.pitch %></p>

    <%= link_to 'view', scenario_path(scenario.id), class: 'btn small' %>
    <%= link_to 'edit', edit_scenario_path(scenario.id), class: 'btn small' %>
    <%= link_to 'delete', scenario_path(scenario.id), method: :delete, remote: true, class: 'btn small delete-scenario' %>
  </section>
<% end.empty? %>
  <section class="empty">
    <p>no saved scenarios&#133;</p>
  </section>
<% end %>
