<%= div_for scenario, class: 'card', data: { name: scenario.name.parameterize } do %>
  <div class="card-container">
    <%= image_tag scenario.avatar, class: 'scenario-avatar icon' %>
    <%= content_tag :h2, scenario.name %>
    <%= content_tag :h3, scenario.quote %>
    <%= content_tag :p , scenario.pitch %>

    <section class="products">
      <%= content_tag :h4, 'Products' %>
      <% if scenario.products.each do |product| %>
        <%= render 'products/index', scenario: product %>
      <% end.empty? %>
        <%= render 'products/empty' %>
      <% end %>
    </section>
  </div>

  <div class="card-admin">
    <%= button_tag 'add products', class: 'link primary js-modal-toggle', data: { name: scenario.name.parameterize } %>
    <%= link_to 'edit', edit_scenario_path(scenario), remote: true, class: 'link plain' %>
    <%= link_to 'delete', scenario_path(scenario), method: :delete, remote: true, class: 'link plain delete-scenario' %>
  </div>
<% end %>
