<%= link_to 'new scenario', '#', class: 'btn secondary new show_new_scenario' %>
<%# link_to 'add scenario', new_page_scenario_path(@page), class: 'btn primary show_new_scenario submit_new_scenario' %>

<% if @page.scenarios.each do |scenario| %>
  <section class="scenario card">
    <div class="card-container">
      <%= image_tag scenario.avatar, class: 'scenario-avatar icon' %>
      <%= content_tag :h3, scenario.quote %>
      <%= content_tag :p ,scenario.pitch %>

      <section class="products">
        <% if scenario.products.each do |product| %>
          <div class="product">
            <%= content_tag :strong, product.name %>
            <%= content_tag :p, product.description %>
          </div>
        <% end.empty? %>
          <%# TODO - Move these into a partial and pass local values! %>
          <div class="empty">
            <p>This scenario has no products! Click <a href="<%= scenario_path(scenario) %>">view</a> to add some.</p>
          </div>
        <% end %>
      </section>
    </div>

    <div class="card-admin">
      <%= link_to 'view', scenario_path(scenario.id) %>
      <%= link_to 'edit', edit_scenario_path(scenario.id) %>
      <%= link_to 'delete', scenario_path(scenario.id), method: :delete, remote: true, class: 'delete-scenario' %>
    </div>
  </section>
<% end.empty? %>
  <section class="empty">
    <p>no saved scenarios&#133;</p>
  </section>
<% end %>
