<% if admin %>
  <%= form_tag products_search_path, remote: true, id: 'search' do %>
    <%= label_tag :product %>
    <%= text_field_tag :product %>
    <%= submit_tag 'search' %>
  <% end %>

  <section id="results" class="results"></section>

  <section class="scenario">
    <h3><%= @scenario.quote %></h3>
    <p><%= @scenario.pitch %></p>
    <%= image_tag @scenario.avatar, class: 'scenario-avatar' %>

    <%= link_to 'edit scenario', edit_scenario_path(@scenario) %> |
    <%= link_to 'delete scenario', scenario_path(@scenario), method: :delete %>
  </section>

  <section class="scenario-products">
    <%= render 'products/products' %>
  </section>
<% end %>
