<%= form_for object, html: { multipart: true }, remote: true do |f| %>
  <div class="<%= container_class %>">
    <ul class="errors"></ul>

    <% if edit? %>
      <%= image_tag object.header, class: 'solution_header' %>
    <% end %>

    <%= f.label :name, 'Solution Name' %>
    <%= f.text_field :name, class: 'instance_name' %>

    <%= f.label :title, 'Leadspace Copy' %>
    <%= f.text_field :title %>

    <%= f.label :body, 'Body Copy' %>
    <%= f.text_area :body %>

    <%= f.label :header, 'Leadspace Image' %>
    <%= f.file_field :header %>
  </div>

  <% if new? %>
    <%= f.submit 'save', class: 'btn primary', id: 'save_solution' %>
  <% elsif edit? %>
    <div class="card_admin">
      <%= f.submit 'save', class: 'link primary', id: 'save_solution' %>
    </div>
  <% end %>
<% end %>
