<section class="section solutions">
  <div class="solution" style="background_image: url('<%= @solution.header %>');">
    <h1 class="solution_header header_primary">
      <span class="container"><%= @solution.title %></span>
    </h1>
  </div>

  <p class="solution_subheader"><span class="container"><%= @solution.body %></span></p>
</section>

<section class="section scenarios">
  <% @solution.scenarios.each do |scenario| %>
  <article class="scenario">
    <%= image_tag scenario.avatar, class: 'scenario_avatar' %>
    <h1 class="scenario_header">"<%= scenario.quote %>"</h1>
    <h2 class="scenario_subheader"><%= scenario.pitch %></h2>

    <section class="products">
    <% scenario.products.each do |product| %>
      <div class="product">
        <a href="#">
          <%= image_tag product.icon_url, class: 'product_icon' %>
          <strong class="product_name"><%= product.name %></strong>
        </a>

        <p class="product_description"><%= product.description %></p>
      </div>
    <% end %>
    </section>

  </article>
  <% end %>
</section>

<section class="section resources">
  <h1 class="section_header">Featured resources</h1>

  <% @solution.resources.each do |resource| %>
  <div class="resource">
    <p><a href="<%= resource.url %>"><%= resource.body %></a></p>
  </div>
  <% end %>
</section>
