<!DOCTYPE html>
<html>
<head>
  <title>ContentApi</title>
  <%= javascript_include_tag '/bower_components/jquery/dist/jquery.min.js' %>
  <%= javascript_include_tag '/bower_components/jquery-ujs/src/rails.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<main>
  <%= yield %>
</main>

</body>
</html>
