<!DOCTYPE html>
<html>
<head>
  <title>Content CMS</title>

  <%= favicon_link_tag '/favicon.png?v=1' %>
  <%= stylesheet_link_tag '/assets/css/admin' %>

  <%= javascript_include_tag '/bower_components/jquery/dist/jquery.min.js' %>
  <%= javascript_include_tag '/bower_components/jquery-ujs/src/rails.js' %>
  <%= javascript_include_tag '/assets/js/scripts' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header primary">
    <nav class="nav">
      <%= link_to root_path do %>
        <%= image_tag '/assets/images/ibm-logo.png', class: 'app-logo' %>
        <%= content_tag :h1, 'Cloud Lab CMS', class: 'app-title' %>
      <% end %>

      <% if !current_user %>
        <%= link_to 'sign in', new_user_session_path, class: 'app-link' %>
      <% else  %>
        <%= link_to 'sign out', destroy_user_session_path, :method => :delete, class: 'app-link' %>
      <% end %>

      <%= link_to 'pages', pages_path, class: 'app-link' %>
    </nav>
  </header>

  <header class="header secondary">
    <div class="container">
      <%= yield :sub_header %>
    </div>
  </header>

  <div class="alerts">
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="error"><%= alert %></p><% end %>
  </div>

  <main class="main">
    <%= yield %>
  </main>
</body>
</html>
