<!DOCTYPE html>
<html>
<head>
  <title>Content CMS</title>

  <%= favicon_link_tag '/favicon.png?v=1' %>
  <%= stylesheet_link_tag '/dist/admin' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header primary">
    <nav class="nav">
      <%= link_to root_path do %>
        <%= image_tag '/assets/images/ibm-logo.png', class: 'app-logo' %>
        <%= content_tag :h1, 'Cloud Lab CMS', class: 'app-title' %>
      <% end %>

      <% if !current_user %>
        <%= link_to 'sign in', new_user_session_path, class: 'app-link' %>
        <%= link_to 'register', new_user_registration_path, class: 'app-link' %>
      <% else  %>
        <%= link_to 'sign out', destroy_user_session_path, :method => :delete, class: 'app-link' %>
        <%= link_to 'solutions pages', pages_path, class: 'app-link' %>
      <% end %>
    </nav>
  </header>

  <header class="header secondary">
    <div class="container">
      <%= yield :sub_header %>
    </div>
  </header>

  <div class="alerts">
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="error"><%= alert %></p><% end %>
  </div>

  <main class="main">
    <%= yield %>
  </main>

  <footer class="footer">
    <a href="https://github.com/mmwtsn/content-api"><small>IBM Cloud Lab CMS</small></a>
  </footer>

  <%= javascript_include_tag '//code.jquery.com/jquery-2.1.1.min.js' %>
  <%= javascript_include_tag '/dist/scripts' %>
</body>
</html>
