<!DOCTYPE html>
<html>
<head>
  <title>Content CMS</title>
  <%= favicon_link_tag '/favicon.png?v=1' %>

  <%= javascript_include_tag '/bower_components/jquery/dist/jquery.min.js' %>
  <%= javascript_include_tag '/bower_components/jquery-ujs/src/rails.js' %>
  <%= javascript_include_tag '/assets/js/scripts' %>

  <%= stylesheet_link_tag '/assets/css/admin' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <main>
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="error"><%= alert %></p><% end %>

    <%= yield %>
  </main>
</body>
</html>
