<!DOCTYPE html>
<html>
<head>
  <title>IBM  Cloud Computing: Solutions for IT Management - United States</title>
  <%= favicon_link_tag '/favicon.png?v=1' %>

  <%= javascript_include_tag '/bower_components/jquery/dist/jquery.min.js' %>
  <%= javascript_include_tag '/bower_components/jquery-ujs/src/rails.js' %>
  <%= javascript_include_tag '/assets/js/scripts' %>

  <%= stylesheet_link_tag '/assets/css/admin' %>

  <%= csrf_meta_tags %>
</head>
<!-- eTree :.: Breadcrumb trail :.: -->
<!-- eTree :.: Left navigation :.: -->
<!-- eTree :.: Tab navigation :.: Z646056Q61579G40-->
<body id="ibm-com" class="ibm-type">

  <main <%= raw admin ? ' class="admin"' : '' %>>
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>

    <%= yield %>
  </main>

  <%= javascript_include_tag '/assets/js/hacks' %>
</body>
</html>
