<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href="http://purl.org/DC/elements/1.0/" rel="schema.DC"/>
  <link href="//www.ibm.com/favicon.ico" rel="SHORTCUT ICON"/>
  <link href="http://www.ibm.com/cloud-computing/us/en/solutions-it-management.html" rel="canonical"/>

  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="v17 delivery:ECM/Filegen authoring:ECM/IConS Adopter 81 - R883312R54416F43 - 06/26/2014 03:10:04 PM" name="Source"/>
  <meta content="public" name="Security"/>
  <meta content="IBM Corporation" name="DC.Publisher"/>
  <meta content="Cloud-based IT service management makes managing and monitoring IT services easier and more cost-effective for startups." name="Description"/>
  <meta content="US" name="IBM.Country"/>
  <meta content="IT systems management, IT service management, service engage, smartcloud control desk, application monitoring, workload automation" name="Keywords"/>
  <meta content="Matthew Starr/Southbury/IBM@IBMUS" name="Owner"/>
  <meta content="index,follow" name="Robots"/>
  <meta content="2014-04-18" scheme="W3CDTF" name="IBM.Effective"/>
  <meta content="2018-06-25" scheme="W3CDTF" name="IBM.Expires"/>
  <meta content="Cloud-based IT service management makes managing and monitoring IT services easier and more cost-effective for startups." name="Abstract"/>
  <meta content="en-US" scheme="rfc1766" name="DC.Language"/>
  <meta content="2014-06-26" scheme="iso8601" name="DC.Date"/>
  <meta content="© Copyright IBM Corp. 2014" name="DC.Rights"/>
  <meta content="ICQ57" scheme="IBM_SubjectTaxonomy" name="DC.Subject"/>
  <meta content="CT054" scheme="IBM_ContentClassTaxonomy" name="DC.Type"/>
  <meta content="ZZ" scheme="IBM_IndustryTaxonomy" name="IBM.Industry"/>

  <title>IBM  Cloud Computing: Solutions for IT Management - United States</title>

  <link href="//1.www.s81c.com/common/v17e/css/ww.css" rel="stylesheet" title="www" type="text/css"/>
  <link href="//1.www.s81c.com/common/v17e/css/data.css" rel="stylesheet" title="www" type="text/css"/>
  <link href="//1.www.s81c.com/common/v17e/css/social.css" rel="stylesheet" title="www" type="text/css"/>
  <link href="//1.www.s81c.com/common/v17e/css/application.css" rel="stylesheet" title="www" type="text/css"/>
  <link href="//1.www.s81c.com/common/v17e/css/module.css" rel="stylesheet" title="www" type="text/css"/>
  <link href="//1.www.s81c.com/common/v17e/css/documentation.css" rel="stylesheet" title="www" type="text/css"/>
  <link href="//www.ibm.com/cloud-computing/bin/us/ww_cci.css?=new" rel="stylesheet" type="text/css"/>

  <script src="//1.www.s81c.com/common/v17e/js/ww.js" type="text/javascript">//</script>
  <script type="text/javascript">
    ibmweb.config.set({
      siteid:'www',
      greeting:{enabled:false},
      megamenu:{enabled:true,minimizeByDefault:true,noscroll:true,disableUniversalNav:false},
      merchandising:{enabled:false},
      sbs:{enabled:false}
    });
  </script>
</head>
<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">

  <%= render 'layouts/ibm/masthead' %>
  <%= render 'layouts/ibm/leadspace' %>
  <%= render 'layouts/ibm/nav' %>

  <div id="ibm-pcon">
  <div id="ibm-content">
  <div id="ibm-content-body">
  <div id="ibm-content-main">

  <%= yield %>

  <%= render 'layouts/ibm/contact_module' %>
  <%= render 'layouts/ibm/footer_leadspace' %>

  </div><!-- /#ibm-content-main -->
  </div><!-- /#ibm-content-body -->
  </div><!-- /#ibm-content -->
  </div><!-- /#ibm-pcon -->

  <%= render 'layouts/ibm/related_content' %>
  <%= render 'layouts/ibm/footer' %>

  </div><!-- /#ibm-top -->

  <%= render 'layouts/ibm/metrics' %>
  <%= render 'layouts/ibm/scripts' %>
</body>
</html>
